/*CSS styling for the page background*/
body {
    background:#333333;/*background color*/
    margin: auto;/*how big the body is*/
    padding: 0;/*how big the body is*/
    width: 100%;
    height: 100%;
    
}
/*CSS styling for the title text*/
h1 {
    color: rgb(254, 0, 42);/*title text color*/
    font-family: 'Times New Roman', Times, serif;/*text font*/
    text-align: center;/*position of the title on the page*/
}
/*CSS styling for the printed text "GIF Search*/
p {
    color: rgb(94, 255, 0);/*text color*/
    font-family: 'Times New Roman', Times, serif;/*text font*/
    text-align: center;/*positon of the "GIF search" text on the page*/
}
/*CSS styling for the search box*/
form.input[type=text] {
    background-image: blue;/*search box background color*/
    align-content: center;/*position of search box on the page*/
}
/*CSS styling for the search button*/
form.search button[type=submit] {
    color: rgb(251, 255, 0);/*search button background color*/
    align-content: center;/*position of the search button on the page*/
    cursor: pointer;/*cursor changes how it looks when it is hovering over the button*/
}
.grid{
    display: grid;
    grid-template-columns: auto;
}
.tenor-gif {
    margin: auto;
    width: 250px;
    height: 250px;
    align-content: center;
}