body {
    background-color: greenyellow;
    margin: 0;
    padding: 0;
}
h1 {
    color: purple;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p {
    color: darkred;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px;
}
.box{
    background-image: blue;
    padding: 30px, 30px;
    text-align: center;
}
.button{
    color: seagreen;
    padding: 20px, 20px;
    text-align: center;

}