<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->
{% block title %}
    GIF Search <!-- creates a title -->
{% endblock %}

{% block content %}
<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string -->

<form action='/gifs'>
    <p>
        Search GIFs
        <input type="text"placeholder="Search.."><!-- creates a search bar -->
        <button type="submit">Search</button> <!-- creates a button called Search -->
    </p>
</form>
<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->

<!-- TODO: For each gif, include the 'gif.html' template to display it -->

{% endblock %}
