<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->

{% block title %}
<h1><!--title for the GIF Search-->
    GIF Search
</h1>
{% endblock %}

{% block content %}
<link rel="stylesheet"href="{{ url_for('static',filename='style.css') }}">
<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string -->
    <p>
        Search GIFs
    </p>  
<form action='/gifs'> <!--allows for the HTML form to be created--> 
    <input name ="query" type="query"placeholder="Search GIFs.."><!-- creates a search bar -->
    <button type="submit">Search</button> <!-- creates a button called Search -->

</form>
<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->

<!-- TODO: For each gif, include the 'gif.html' template to display it -->
{% for gifs in gifs %}
    {% include 'gif.html' %}
{% endfor %}
<img src="{{gif_str}}" alt="OKOKKOKOKOK"> <!--shows the gif image-->
{% if gifs != query %} <!--if the gifs aren't in search query, print taht it can' be shown and to try another search.-->
    <h1>No GIFs could be found. Try another search query.</h1>
{% endif %}
{% endblock %}
